<div class="card">
    <div class="card-header">
    Mi Información
    </div>
    <div class="card-body">
        <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: 'profile-avatar' %>
        <% else %>
        <%= image_tag 'default_avatar.jpg', class: 'profile-avatar' %>
        <% end %>
        <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text">Correo Electrónico: <%= @user.email %></p>
        <p class="card-text">Cargo: <%= @user.position %></p>
        <p class="card-text">Departamento: <%= @user.department %></p>
        <p class="card-text">Biografía: <%= @user.bio %></p>
        <!-- Agrega más campos según tus necesidades -->
    </div>
</div>

<%= link_to 'Edit Profile', edit_user_registration_path %>