<h1 class="admin-heading">Ofertas Laborales</h1>

<%= link_to 'Crear nueva Oferta', new_admin_job_offer_path, class: 'admin-btn my-4' %>
<%== pagy_bootstrap_nav(@pagy) %> <!--gema pagy-->
<table class="admin-table">
    <thead>
        <tr>
            <th>Fecha publicación</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @job_offers.each do |job_offer| %>
        <tr>
            <td><%= job_offer.created_at.strftime('%d/%m/%Y') %></td>
            <td><%= job_offer.title %></td>
            <td><%= job_offer.requirements %></td>
            <td>
            <div class="btn-group">
                <%= link_to 'Ver', admin_job_offer_path(job_offer), class: 'admin-action-btn' %>
                <%= link_to 'Editar', edit_admin_job_offer_path(job_offer), class: 'admin-action-btn' %>
            </div>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>



