<h1>Ofertas Laborales</h1>

<table>
    <thead>
        <tr>
        <th>Fecha publicación</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% @job_offers.each do |job_offer| %>
        <tr>
            <td><% job_offer.created_at %></td>
            <td><%= job_offer.title %></td>
            <td><%= job_offer.requirements %></td>
            <td>
            <%= link_to 'Show', admin_job_offer_path(job_offer) %>
            <%= link_to 'Edit', edit_admin_job_offer_path(job_offer) %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= link_to 'Crear nueva Oferta', new_admin_job_offer_path %>
