<h1>Nueva Oferta Laboral</h1>
<%= form_with(model: @job_offer, url: admin_job_offers_path) do |f| %>
    <div>
        <%= f.label :title, "Título" %>
        <%= f.text_field :title, class: "form-control" %>
    </div>

    <div>
        <%= f.label :description, "Descripción" %>
        <%= f.text_area :description, class: "form-control" %>
    </div>

    <div>
        <%= f.label :requirements, "Requerimientos" %>
        <%= f.text_area :requirements, class: "form-control" %>
    </div>

    <div>
        <%= f.submit 'Crear', class: "btn btn-primary" %>
    </div>
<% end %>


<%= link_to 'Volver a la lista de Ofertas', admin_job_offers_path %>




