<div class="admin-card-show">
    <div class="admin-card-header">
        Detalle del Usuario
    </div>
    <div class="admin-card-body">
        <div class="user-details">
            <p><strong>Nombre:</strong> <%= @user.first_name %> <%= @user.last_name %></p>
            <p><strong>Correo Electrónico:</strong> <%= @user.email %></p>
            <p><strong>Cargo:</strong> <%= @user.position %></p>
            <p><strong>Departamento:</strong> <%= @user.department %></p>
        </div>
        <div class="user-avatar">
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class: 'profile-avatar' %>
            <% else %>
                <%= image_tag 'default_avatar.jpg', class: 'profile-avatar' %>
            <% end %>
        </div>
    </div>
    <div class="user-bio">
        <p><strong>Biografía:</strong></p>
        <p><%= @user.bio %></p>
    </div>
    <div class="user-actions">
        <%= button_to "Eliminar Usuario", admin_user_path(@user), method: :delete, data: { confirm: "¿Estás seguro de que deseas eliminar este usuario?" }, class: "admin-btn delete-btn" %>
    </div>
    <%= link_to 'Volver', :back %>
</div>


